# MADStat

In [1]:
import pandas as pd

In [2]:
madstat = pd.read_pickle('./derived_data/madstat.pkl')
madstat.head()

   idxPap                                              edges  year journal
0       1                       [16118, 24934, 46252, 46442]  2014     Bcs
1       2  [17528, 22080, 24306, 25297, 34423, 46604, 46851]  2014     Bcs
2       3                               [5140, 23393, 26434]  2014     Bcs
3       4                       [19477, 22801, 31195, 37481]  2014     Bcs
4       5                 [7154, 10981, 29847, 34337, 46127]  2014     Bcs

In [3]:
hyperedges = madstat['edges']

## computation time

In [4]:
import sys
import os
sys.path.append(os.path.abspath('/work/users/s/h/shiyi/hypergraph_with_curvature/code/src'))
from hlrc import compute_hlrc
from hfrc import compute_hfrc
from util import *

In [5]:
%timeit compute_hlrc(hyperedges)

%timeit compute_hfrc(hyperedges)

311 ms ± 4.31 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
93.2 ms ± 345 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

## compute HLRC and HFRC

In [6]:
hlrc = compute_hlrc(hyperedges)
hfrc = compute_hfrc(hyperedges)

In [7]:
madstat["hlrc"] = hlrc
madstat["hfrc"] = hfrc

madstat.head()

,idxPap,edges,year,journal,hlrc,hfrc
0,1,"[16118, 24934, 46252, 46442]",2014,Bcs,0.034524,-6
1,2,"[17528, 22080, 24306, 25297, 34423, 46604, 46851]",2014,Bcs,0.289129,-88
2,3,"[5140, 23393, 26434]",2014,Bcs,-0.365079,-57
3,4,"[19477, 22801, 31195, 37481]",2014,Bcs,-0.152244,-35
4,5,"[7154, 10981, 29847, 34337, 46127]",2014,Bcs,0.219958,-35

## Save

In [8]:
madstat.to_pickle("./derived_data/hlrc_hfrc.pkl")